html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

*,
*::before,
 ::after {
    box-sizing: border-box;
}

.logo,
.top-menu-bar,
.account-section {
    display: inline-block;
}

.logo {
    margin-left: 5vw;
    padding: 5vh 10vh 0vh 10vh;
}

.top-menu-bar {
    margin-left: 2vw;
    padding: 4vh 10vh 0vh 10vh;
}

.account-section {
    margin-left: 16vw;
}

.nav-bar-menu {
    margin-left: 3vw;
}

.ulist {
    list-style-type: none;
}

.ulist>li {
    display: inline-block;
    margin: 0 4vh;
}

.nav-button {
    color: #C0BFBE !important;
    font-weight: bold !important;
    text-decoration-line: none !important;
}

.nav-button:hover {
    color: #000000 !important;
    font-weight: bolder;
    text-decoration-color: #5546C1 !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1vh;
}

.wrapper {
    position: relative;
    display: inline-block;
    width: max-content;
}

.left {
    width: 27%;
    margin-left: 20vw;
    position: absolute;
    /* margin-left: 5vw; */
    margin-top: 6vh;
}

.para {
    padding-top: 3vh;
    padding-left: 0.8vw;
    font-size: 1.2rem;
    color: #5f5c5c;
}

.right {
    width: 42%;
    margin-left: 33vw;
    position: absolute;
    margin-top: 2.5vh;
    float: right;
}

.main-image-div {
    width: 100%;
    height: 100%;
    margin-left: 15vw;
    margin-right: 25vw;
    /* float: right; */
    /* display: flex;
    flex-direction: row-reverse; */
}

.main-div-arrows {
    padding: 3vh 0;
    display: inline-block;
    text-align: center;
}

.main-div-arrows>div {
    display: inline-block;
}

.btn {
    font-weight: bold;
    color: #5243C0 !important;
    padding: 15px 30px !important;
    border-radius: 25px !important;
    background-color: #FFD8DB !important;
    border-color: #FFD8DB !important;
}

.new-btn {
    color: #ffffff !important;
    padding: 15px 30px !important;
    border-radius: 25px !important;
    background-color: #5243C0 !important;
    border-color: #FFD8DB !important;
}

.arrow-div {
    padding: 0 1vh;
}

.details-wrapper,
.details-wrapper1,
.details-wrapper2,
.details-wrapper3 {
    margin: 1.1vh 11.1vh 1.1vh 0vh;
    border-radius: 25px;
    background-color: #F5F5F5;
    display: grid !important;
    grid-template-columns: 3vw 7vw 3vw 4vw 3vw !important;
    align-items: center;
    text-align: -webkit-left;
}

.details-wrapper1 {
    box-shadow: 0px 0 20px slategrey;
    background-color: #ffffff !important;
}

.details-wrapper>div,
.details-wrapper1>div,
.details-wrapper2>div,
.details-wrapper3>div {
    margin: 0.8vh;
}

.bar1,
.bar2,
.bar3,
.bar4 {
    width: 1.7vw;
    height: 1.6vh;
    border-radius: 25px;
}

.bar1 {
    background-color: #FFD8DB;
}

.bar2 {
    background-color: #FD6534;
}

.bar3 {
    background-color: #9FD196;
}

.bar4 {
    background-color: #FFE49F;
}

.right,
.left {
    content: "";
    clear: both;
    display: block;
}

.footer {}