#two {
    color: blue;
}

.pg {
    color: orange;
    font-size: large;
}

p {
    color: red;
}

table,
th,
td,
tr {
    border: .02rem solid black;
    border-collapse: collapse;
    padding: .8rem;
}

.attributes {
    background-color: turquoise;
    font-size: larger;
    font-weight: bold;
}