*,
*::before,
 ::after {
    box-sizing: border-box;
}


/* .box::before {
    content: "text";
} */

.box {
    width: 30%;
    height: 90%;
    background-color: gray;
    display: inline-block;
    border: 1px solid green;
}